#error-body {
    /* background: #265454; */
    height: 100vh;
}

.error-h1 {
    color: rgb(8, 8, 8);
    text-align: center;
    font-size: 4rem;
}

.error-img {
    margin-left: 20%;
    background-color: bisque;
    width: 60%;
    height: 70vh;
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/media/a683df6fd0b57db02968b6194c88d868.gif);
    align-items:center;
    justify-content: center;
}

img {
    
}

.span-head {
    /* background-color: rgb(249, 252, 252); */
    text-align: center;
    font-size: larger;
}

strong {
    font-weight: 800;
    font-size: x-large;
}